header {
    font: var(--text-p);

    &>div {
        padding-block: var(--py-sm);
    }

    @media (width >=80rem) {
        --py-sm: 1.625rem;
    }

    & nav {
        border: 1px solid var(--stroke-color);
        border-inline: none;
    }

    & ul {
        padding-block: .875rem;
        gap: 2rem;

        & li {
            white-space: nowrap;
            cursor: pointer;

            &:hover {
                color: var(--brand-color-dark);
            }
        }
    }
}

@media (width <= 1024px) {
    header {
        & nav {
            width: 22rem;
            overflow: hidden;
            margin-inline: auto;
        }

        & ul {
            padding-block: .875rem;
            gap: 2rem;
            animation: rolling 15s ease-in-out infinite;
        }
    }
}

@keyframes rolling {
    to {
        transform: translateX(-40rem);
    }
}